.selected-service-desc{
    margin-bottom: .5rem;
}

.selected-service-edit-date{
    margin-top: 1rem;
    margin-bottom: .2rem;
}

.search-service-delete-service{
    margin-top: 1rem !important;
}

.search-service-save-service{
    margin-top: 1rem !important;
    margin-right: 1rem !important;
}

.selected-service-values{
    display: flex;
    flex-wrap: wrap;
}

.selected-service-value{
    background-color: lightBlue;
    padding: .6rem;
    margin-top: 1rem;
    border-radius: .5rem;
    margin-right: 1rem;
}